@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@1,6..12&display=swap");

:root {
  --backgroundPrimary: #202128e0;
  --backgroundSecondary: #252a34;
  --primary: #08d9d6;
  --primaryHover: #09faf6;
  --secondary: #ff2e63;
  --optionalWhite: #eaeaea;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundPrimary);
  color: #fff;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
